<h2>Tasks</h2>

<p id="notice"><%= notice %></p>

<br>

<button onclick="goBack()" class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 150px; background-color: #eee; margin-right: 10px; color: #367bb5;"><a>Return to Project</a></button>

<%= link_to 'Create New Task', new_task_path %>
