
<br />
<br />
<div class="container-fluid">
<%= render 'a', group: @group %>
</div>
<script>
  $(document).ready(function(){
    $('body').on('focus', ".date-picker", function(){
      $(this).datepicker(
        {
          dateFormat: 'yy-mm-dd'
        }
      );
    });
  })
</script>
