<div class="col-md-6 col-md-offset-3" style="margin-top: 150px;">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <center><h2>Add Your Group</h2></center>
      </div>

      <div class="panel-body">
         <%= render 'form', group: @group %>
      </div>
      
    </div>
  </div>
</div>




