<div class="container-fluid">
	<div class="row">

	<center><button class="btn btn-primary" style="margin-top: 150px; border-radius: 10px; width: 300px; height: 150px; font-size: 30px; box-shadow: 4px 4px 4px #222;">Click here to start!</button></center>
</div>
</div>
