/*
 *= require jquery-ui/datepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.group-box {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom:10px;
	box-shadow: 3px 3px 3px #888;
}

ul {
  list-style-type: none;
}

.lispacing {
  padding: 10px;
  padding-right: 20px;
}

.field {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	color: #777;
	width: 100%;
}

.field2 {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 50%;
	padding: 5px;
	color: #777;
}

.submit1 {
	border: 0px;
	background-color: #eee;
	padding: 0px;
}

.input{
  width: 300px;
}

.date{
  width: 200px;
}

.time{
  width: 100px;
}

#articles .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#articles #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#articles ul {
  font-size: 11px;
  padding-left: 20px;
}
.input-number {
  width: 50px;
}

.calendar-link a {
  color: black !important;
}